.hero-container {
  position: relative;
  width: 100%;
  height: 70vh; /* Imposta l'altezza desiderata per il componente Hero */
  background-size: cover;
  background-position: center;
}

.hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 20px; /* Modifica il padding per centrare il contenuto */
  backdrop-filter: blur(5px) grayscale(30%);
}

.h1-cont h1 {
  font-size: 4rem; /* Regola la dimensione del titolo */
  font-weight: bold; /* Opzionale: imposta il grassetto per il titolo */
  margin-bottom: 20px; /* Aggiunge spazio tra il titolo e il paragrafo */
}

.hero-content p {
  font-size: 1.6rem; /* Regola la dimensione del paragrafo */
  font-weight: 300; /* Opzionale: imposta la leggerezza per il paragrafo */
  margin-bottom: 30px; /* Aggiunge spazio tra i paragrafi */
  width: 60%;
  margin: 0 auto; /* Centra il paragrafo */
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.705);
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.4rem; /* Regola la dimensione del testo del pulsante */
  padding: 14px 24px; /* Regola il padding del pulsante */
  transition: all 0.5s;
  cursor: pointer;
}

.hero-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hero-button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px; /* Regola la posizione dell'icona di freccia */
  transition: 0.5s;
}

.hero-button:hover span {
  padding-right: 20px; /* Aggiunge spazio per l'icona di freccia quando il pulsante viene passato sopra */
}

.hero-button:hover span:after {
  opacity: 1;
  right: 0;
}
